 <html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <title>Online FreeMarker Template Tester</title>
</head>
<body>
<div id="layout">
    <div id="main">
        <div class="header">
            <h1>Online FreeMarker Template Tester</h1>
        </div>

        <div class="content">
            <form action="result" method="post" class="pure-form pure-form-stacked">
                <label for="template">Template <span class="faint">(FreeMarker {{freeMarkerVersion}})</span></label>
                <input type="text" name="template" class="pure-input-1" value="{{template}}"
                        placeholder="Enter template, like: Hello ${user}!"/>
    
                <label for="template">Data model</label>
                <textarea name="dataModel" rows="10" class="pure-input-1"
                        placeholder='Enter one or more assignments (like: user = John Doe), starting each in its own line.
 For the value after the "=" you can use the following syntax:
 unquoted string (like John Doe),
 quoted JSON string (like "John Doe"),
 number (like 3.14),
 boolean (true or false),
 JSON array (like [1, 2, 3]),
 JSON object (like { "name": "John Doe", "age": 30 }),
 ISO 8601 date/time/date-time (like 2014-02-28 or 20:50:30.5+02 or 2014-02-28T18:50Z),
 and XML (like &lt;example x="1"&gt;text&lt;/example&gt;).'
                >{{dataModel}}</textarea>
    
                <input id="eval-btn" type="submit" value="Evaluate" class="pure-button pure-button-primary"/>
                
                {{#hasResult}}
                    <div class="resultContainer">
                        <label for="result">Result</label>
                        <textarea id="result" rows="10" class="pure-input-1{{#errorResult}} error{{/errorResult}}" readonly>{{result}}</textarea>
                    </div>
                {{/hasResult}}
            </form>
        </div><!-- content -->
        <div class="footer">
            FreeMarker documentation:
            <a href="http://freemarker.org/docs/" target="_blank">Contents</a>
            |
            <a href="http://freemarker.org/docs/dgui_template_overallstructure.html" target="_blank">Overall&nbsp;syntax</a>
            |
            <a href="http://freemarker.org/docs/dgui_template_exp.html#exp_cheatsheet" target="_blank">Expression&nbsp;syntax</a>
            |
            <a href="http://freemarker.org/docs/ref_directive_alphaidx.html" target="_blank">List&nbsp;of&nbsp;&lt#<i>directives</i>&gt;</a>
            |
            <a href="http://freemarker.org/docs/ref_builtins_alphaidx.html" target="_blank">List&nbsp;of&nbsp;<tt>?<i>built_in</i></tt> functions</a>    </body>
        </div><!-- footer -->
    </div><!-- main -->
</body>
</html>